<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <!--connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database1.mdf;Integrated Security=True"-->
        <add name="ProjektBlodbank.Properties.Settings.Database1ConnectionString"
            connectionString="Data Source=ealdb1.eal.local;Initial Catalog=EJL21_DB;Persist Security Info=True;User ID=ejl21_usr;Password=Baz1nga21"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>